@font-face {
  font-family: "landingFont";
  src: url("circular-bold.woff2") format("woff2");
}

* {
  margin: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

.tech-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  gap: 15px;
}

.tech-wrapper .tech-container-title {
  border-bottom: 0.3px solid rgba(255, 255, 255, 0.05);
}

.tech-wrapper .tech-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(131, 96, 195, 0.4), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2.8px 2.2px rgba(131, 96, 195, 0.4), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  background: rgba(255, 255, 255, 0.05);
  padding: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.tech-wrapper .tech-icon-container .icon-container {
  height: 50px;
  position: relative;
}

.tech-wrapper .tech-icon-container .icon-container .icon-label {
  background: #2c5e92;
  left: 60px;
  z-index: 5;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  bottom: 43px;
  white-space: nowrap;
  padding: 2px 9px;
  border-radius: 4px;
  position: absolute;
}

.tech-wrapper .tech-icon-container .icon-container .tech-icon {
  width: 100%;
  height: 100%;
  fill: white;
}

.wrapper {
  background: -webkit-gradient(linear, left top, left bottom, from(#2c5e92), to(#552f6d));
  background: linear-gradient(#2c5e92, #552f6d);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
  overflow: auto;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .center-container {
  font-family: "landingFont";
  width: 950px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.wrapper .center-container .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100% !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .center-container .container .text-container {
  color: black;
  text-align: left;
  width: calc(33.33333333% - 6px);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-right: 15px;
}

.wrapper .center-container .container .text-container span {
  padding: 13px;
  border-radius: 3px;
  color: white;
  margin-left: 15px;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(131, 96, 195, 0.4), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2.8px 2.2px rgba(131, 96, 195, 0.4), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.wrapper .center-container .container .text-container .main-title {
  margin-bottom: 40px;
  font-size: 80px;
  line-height: 1;
}

.wrapper .center-container .container .text-container .description {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
}

.wrapper .center-container .container .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(66.66666667% + 6px);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 6px;
}

.wrapper .center-container .container .image-container .chat-project-container {
  background-size: cover;
}

.wrapper .center-container .container .image-container .project-container {
  opacity: 0;
  background-color: black;
  cursor: pointer;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32.7%;
          flex: 0 0 32.7%;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  float: left;
  overflow: hidden;
  position: relative;
}

.wrapper .center-container .container .image-container .project-container .git-icon {
  display: none;
}

.wrapper .center-container .container .image-container .project-container:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.wrapper .center-container .container .image-container .project-container:hover .git-icon {
  position: absolute;
  fill: rgba(255, 255, 255, 0.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 55px;
  height: 55px;
  display: block;
}

.wrapper .center-container .container .image-container .project-container:hover .project-image {
  opacity: 30%;
}

.wrapper .center-container .container .image-container .project-container .project-image {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 80%;
  width: 100%;
  height: 100%;
  background: white;
}

@media (max-width: 786.98px) {
  .project-container {
    width: 50% !important;
  }
}

@media (max-width: 991.98px) {
  .wrapper .center-container {
    width: 750px;
  }
  .wrapper .center-container .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .wrapper .center-container .container .image-container {
    width: 100% !important;
  }
  .wrapper .center-container .container .text-container {
    color: black;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100% !important;
    margin-bottom: 40px;
  }
  .wrapper .center-container .container .text-container .main-title {
    text-align: center;
    font-size: 64px !important;
    line-height: 1;
    margin-bottom: 1rem;
  }
  .wrapper .center-container .container .text-container .description {
    text-align: center;
    font-size: 24px !important;
    line-height: 1.3;
  }
}
/*# sourceMappingURL=landing.module.css.map */