.container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  left: 0;
  z-index: 5;
  padding: 20px;
  .contact-icon-container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    position: relative;
    height: fit-content;
    .contact-icon {
      fill: rgba(255, 255, 255, 0.7);
      width: 35px;
      cursor: pointer;
      height: 35px;
      &:hover {
        fill: white;
      }
    }
  }
  .divider-line {
    height: 85%;
    position: absolute;
    background: rgba(255, 255, 255, 0.28);
    top: 150px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 2px;
  }
}
