.container {
  position: fixed;
  display: flex;

  align-items: center;
  justify-content: center;

  top: 0;
  right: 0;
  z-index: 5;
  padding: 20px;
  .contact-icon-container {
    display: flex;
    gap: 20px;

    position: relative;
    height: fit-content;
    .contact-icon {
      fill: rgba(255, 255, 255, 0.7);
      width: 20px;
      cursor: pointer;
      height: 20px;
      &:hover {
        fill: white;
      }
    }
  }
  .divider-line {
    height: 85%;
    position: absolute;
    background: rgba(255, 255, 255, 0.28);
    top: 150px;
    left: 0;
    right: 0;
    display: none;
    margin: 0 auto;
    width: 2px;
  }
}
@media (max-width: 575.98px) {
}

// Small devices (landscape phones, less than 768px)
@media (min-width: 786.98px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}

// Large devices (desktops, less than 1200px)
@media (min-width: 1199.98px) {
  .container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 5;
    padding: 20px;
    .contact-icon-container {
      display: flex;
      gap: 20px;
      flex-direction: column;
      position: relative;
      height: fit-content;
      .contact-icon {
        fill: rgba(255, 255, 255, 0.7);
        width: 35px;
        cursor: pointer;
        height: 35px;
        &:hover {
          fill: white;
        }
      }
    }
    .divider-line {
      height: 85%;
      position: absolute;
      background: rgba(255, 255, 255, 0.28);
      top: 150px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 2px;
    }
  }
}
