@font-face {
  font-family: "mainFont";
  src: url("../fonts/circular-bold.woff2") format("woff2");
}

@font-face {
  font-family: "secondary";
  src: url("../fonts/VarelaRound-Regular.ttf") format("truetype");
}

.container {
  background: linear-gradient(-13deg, #2c5e92, #552f6d);
  padding: 20px 30px 20px 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  height: 100vh;
}

.container .color-container {
  -webkit-transform: rotate(-79deg);
          transform: rotate(-79deg);
}

.container .code-editor-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.container .code-editor-container .laptop-svg {
  width: 100%;
  height: 100%;
}

.container .code-editor-container .code-editor {
  height: 73%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 79%;
  font-size: 12px;
  left: 10.5%;
  position: absolute;
  bottom: 20%;
  font-family: monaco, Consolas, "Lucida Console", monospace;
  border-radius: 8px;
  background-color: #1a1e2c;
}

.container .code-editor-container .code-editor .line-number-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  color: #55718d;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3px;
}

.container .code-editor-container .code-editor .line-number-container .line-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .code-editor-container .code-editor .line-number-container .line-container .line-number {
  margin-right: 10px;
}

.container .code-editor-container .code-editor .line-number-container .line-container .code-line {
  display: inline;
  width: 100%;
}

.container .code-editor-container .code-editor .client-editor {
  width: 50%;
  height: 100%;
  border-right: 0.5px solid gray;
}

.container .code-editor-container .code-editor .server-editor {
  width: 50%;
  height: 100%;
}

.container .main-content {
  z-index: 3;
  font-family: "mainFont";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 36px;
  height: auto;
  gap: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .main-content .text-content {
  color: white;
  border-radius: 5px;
  width: 100%;
}

.container .main-content .text-content .line-header {
  margin-bottom: 25px;
}

.container .main-content .text-content .text-container {
  background: rgba(255, 255, 255, 0.03);
  border-radius: 5px;
  width: 100%;
  padding: 30px 13px;
  position: relative;
}

.container .main-content .text-content .text-container .main-header {
  margin-bottom: 15px;
  background: #1e3264;
  padding: 5px 80px 5px 13px;
  margin-left: -30px;
  font-size: 20px;
  text-align: left;
  white-space: nowrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 40px;
}

.container .main-content .text-content .text-container .react-header {
  color: white;
  z-index: 1;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.container .main-content .text-content .description {
  font-family: secondary;
  font-size: 12px;
  right: 0;
  padding: 10px;
  background: rgba(255, 255, 255, 0.03);
  line-height: 23px;
  top: 0;
  font-weight: 500;
}

@media (min-width: 1199.98px) {
  .container {
    background: linear-gradient(-13deg, #2c5e92, #552f6d);
    padding: 20px 30px 20px 30px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    height: 100vh;
  }
  .container .color-container {
    -webkit-transform: rotate(-79deg);
            transform: rotate(-79deg);
  }
  .container .code-editor-container {
    position: relative;
    width: 100%;
    max-width: 65%;
    height: 100%;
  }
  .container .code-editor-container .laptop-svg {
    width: 100%;
    height: 100%;
  }
  .container .code-editor-container .code-editor {
    height: 73%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 79%;
    font-size: 12px;
    left: 10.5%;
    position: absolute;
    bottom: 18.5%;
    font-family: monaco, Consolas, "Lucida Console", monospace;
    border-radius: 8px;
    background-color: #1a1e2c;
  }
  .container .code-editor-container .code-editor .line-number-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    color: #55718d;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3px;
  }
  .container .code-editor-container .code-editor .line-number-container .line-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container .code-editor-container .code-editor .line-number-container .line-container .line-number {
    margin-right: 10px;
  }
  .container .code-editor-container .code-editor .line-number-container .line-container .code-line {
    display: inline;
    width: 100%;
  }
  .container .code-editor-container .code-editor .client-editor {
    width: 50%;
    height: 100%;
    border-right: 0.5px solid gray;
  }
  .container .code-editor-container .code-editor .server-editor {
    width: 50%;
    height: 100%;
  }
  .container .main-content {
    z-index: 3;
    font-family: "mainFont";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 36px;
    height: auto;
    gap: 30px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .main-content .text-content {
    color: white;
    border-radius: 5px;
    max-width: 35%;
    width: 100%;
  }
  .container .main-content .text-content .line-header {
    margin-bottom: 25px;
  }
  .container .main-content .text-content .text-container {
    background: rgba(255, 255, 255, 0.03);
    border-radius: 5px;
    width: 100%;
    padding: 30px 13px;
    position: relative;
  }
  .container .main-content .text-content .text-container .main-header {
    margin-bottom: 15px;
    background: #1e3264;
    padding: 5px 80px 5px 13px;
    margin-left: -50px;
    font-size: 20px;
    text-align: left;
    white-space: nowrap;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    line-height: 40px;
  }
  .container .main-content .text-content .text-container .react-header {
    color: white;
    z-index: 1;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .container .main-content .text-content .description {
    font-family: secondary;
    font-size: 12px;
    right: 0;
    padding: 10px;
    background: rgba(255, 255, 255, 0.03);
    line-height: 23px;
    top: 0;
    font-weight: 500;
  }
}
/*# sourceMappingURL=about.module.css.map */