.language-js {
  font-size: 0.8vw !important;
  background-color: transparent !important;
  word-break: break-word !important;
}
.code-toolbar {
  max-width: 100%;
}
pre {
  white-space: pre-wrap !important;
}
.app-wrapper {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
html,
body {
  height: 100vh;
}
#root {
  position: absolute;
  height: 100vh;
}
.toolbar-item {
  display: none !important;
}
